extends layout

block content
 h1= title
 p Welcome to #{title}

 p(class='well hidden-s') Plant system
  div(id='buttons')
   ul
    each val, index in state
     li
      if val.checked
       input(
        data-toggle='toggle',
        type='checkbox'
        id='input-' + index
        checked
       )
      else
       input(
        data-toggle='toggle',
        type='checkbox'
        id='input-' + index
      )
      p(id='time-' + index) #{val.time}
